@use '../01-Abstracts'as *;


.socials-wrapper {
  @include flex($gap: 3rem, $wrap: wrap);
}


.social-icon {
  font-size: 1.8rem;
  color: getColor(socials);
  @include focus-state(color('primary.base'));

  &:hover {
    transform: scale(1.2);
    transition: $transition;
  }

  &--facebook:hover {
    color: #3b5998;
  }

  &--twitter:hover {
    color: #00acee;
  }

  &--instagram:hover {
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--linkedin:hover {
    color: #0072b1;
  }
}