@use '../01-Abstracts'as *;


html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    height: -webkit-fill-available;
}


body {
    overflow-x: hidden;
    background-color: getColor(bg);
    transition: all .3s ease-in-out;
    height: -webkit-fill-available;
}


ul {
    list-style-type: none;
}


a {
    display: inline-block;
    text-decoration: none;
    transition: $transition;
}


img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
    object-fit: cover;
}


input,
textarea,
select,
button {
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}


button,
input[type="submit"] {
    cursor: pointer;
    transition: $transition;
}