@use '../01-Abstracts'as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");


body {
    font-family: $ff-primary;
    font-size: fs(rg);
    font-weight: fw(regular);
    line-height: $lineHeightText;
}


p {
    font-size: fs(rg);
    color: getColor(text);
    max-width: $paraMaxWidth;
    letter-spacing: var(--letterSpacing-2);
}



//^ --- Headings --- //

h1,
h2,
h3,
h4 {
    letter-spacing: var(--letterSpacing-5);
    text-transform: capitalize;
    line-height: $lineHeightTitle;
    margin-bottom: 0.75rem;
    text-align: center;
    color: getColor(title);
}


h1 {
    font-size: fs(head-1);
    font-weight: fw(thin);
    line-height: 1.05;
}


h2 {
    font-size: fs(head-2);
    font-weight: fw(light);
}


h3 {
    font-size: fs(head-3);
    font-weight: fw(light);
}

h4 {
    font-size: fs(head-4);
    font-weight: fw(light);
}

//^ ---  --- //